.perfume {
    display: inline-block;
    padding: 30px;

    img {
        width: 200px;
    }
    
}
.text-box {
    border: none; 
    padding: 25px; 
    background-color: white; 
    width: 400px; 
    text-align: justify;
    margin: 0px;
}


