.brand-list-container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  
    .brand-list-header {
      text-align: center;
      font-size: 24px; 
      margin-bottom: 30px; 
      color: #333; 
    }
  
    .brand-list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); // creates a responsive grid with columns of minimum 200px
      gap: 15px; // Adjust the gap as needed
  
      .brand-list-item {
        background-color: #f8f8f8; 
        border: 1px solid #eaeaea; 
        padding: 10px;
        text-align: center;
        line-height: 1.5; 
        font-size: 16px; 
        transition: background-color 0.3s, color 0.3s;
        &:hover {
          background-color: #e9e9e9; 
          cursor: pointer;
        }
      }
    }
  }
  
  // Responsive adjustments (optional)
  @media (max-width: 768px) {
    .brand-list-container {
      .brand-list {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
      }
    }
  }